<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}You know you want to eat this {{burger_name}}...
			{{else}} That was delicious!
		{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete this burger!</button>
</li>
